<a href="https://colab.research.google.com/github/shreya-t-nagappanavar/Data_Analysis_with_Python/blob/main/Null_Values_Handling_Numeric_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [8]:
df = pd.read_csv('/content/sample_data/students - Sheet1.csv')

In [9]:
df.head(9)

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
0,111111.0,John,Doe,Jan-00,Hispanic,M,FT,Fall 2008,NaN,NaN,...,NaN,2.71,Albuquerque,New Mexico,87112.0,jdoe@example.com,17.9,False,False,True
1,111112.0,Jane,Smith,May-01,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,14.0,6.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True
4,111115.0,Mike,Davis,31/2001,White,F,FTFT,Fall 2007,22.0,12.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
5,111116.0,Jennifer,Wilson,Jan-02,Asian,M,TRANSFER,Fall 2006,NaN,NaN,...,NaN,4.24,Denver,Colorado,80012.0,jwilson@example.com,18.5,True,False,True
6,111117.0,Jessica,Garcia,Jan-00,White,F,FTFT,Fall 2007,25.0,10.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,21.0,4.0,...,NaN,2.54,Denver,Colorado,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,Apr-98,White,F,FTFT,Fall 2007,15.0,5.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True

**1) Removing the rows**

In [10]:
df.dropna()

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
8,111119.0,Bob,Lopez,Apr-98,White,F,FTFT,Fall 2007,15.0,5.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True

**2) Filling the values in the place of null by using imputers**

In [15]:
import numpy as np

In [14]:
from sklearn.impute import SimpleImputer

In [18]:
imputer = SimpleImputer(missing_values = 'np.nan', strategy = 'mean')

In [21]:
df['hs_gpa'].head(9)

0    2.71
1    3.73
2    2.64
3    3.68
4    3.46
5    4.24
6     NaN
7    2.54
8    3.24
Name: hs_gpa, dtype: float64

In [26]:
df.iloc[:,:].head(9)

,id,first_name,last_name,date_of_birth,ethnicity,gender,status,entry_academic_period,act_composite,act_math,...,sat_reading,hs_gpa,hs_city,hs_state,hs_zip,email,entry_age,ged,english_2nd_language,first_generation
0,111111.0,John,Doe,Jan-00,Hispanic,M,FT,Fall 2008,NaN,NaN,...,NaN,2.71,Albuquerque,New Mexico,87112.0,jdoe@example.com,17.9,False,False,True
1,111112.0,Jane,Smith,May-01,Hispanic,F,TRANSFER,Fall 2006,NaN,NaN,...,NaN,3.73,New York,New York,10009.0,jsmith@example.com,18.1,False,False,True
2,111113.0,Sarah,Thomas,21/2002,Hispanic,M,FTFT,Fall 2006,14.0,6.0,...,NaN,2.64,Pheonix,Arizona,85006.0,sthomas@example.com,17.6,False,False,False
3,111114.0,Frank,Brown,13/2002,Race/ethnicity unknown,M,FTFT,Fall 2006,NaN,NaN,...,210.0,3.68,Pheonix,Arizona,85015.0,fbrown@example.com,19.0,True,False,True
4,111115.0,Mike,Davis,31/2001,White,F,FTFT,Fall 2007,22.0,12.0,...,NaN,3.46,Seattle,Washington,98106.0,mdavis@example.com,18.2,False,True,False
5,111116.0,Jennifer,Wilson,Jan-02,Asian,M,TRANSFER,Fall 2006,NaN,NaN,...,NaN,4.24,Denver,Colorado,80012.0,jwilson@example.com,18.5,True,False,True
6,111117.0,Jessica,Garcia,Jan-00,White,F,FTFT,Fall 2007,25.0,10.0,...,NaN,NaN,Austin,Texas,78703.0,jgarcia@example.com,18.8,False,False,False
7,111118.0,Fred,Clark,17/1999,Hispanic,F,FTGRAD,Fall 2010,21.0,4.0,...,NaN,2.54,Denver,Colorado,80033.0,fclark@example.com,19.2,False,True,True
8,111119.0,Bob,Lopez,Apr-98,White,F,FTFT,Fall 2007,15.0,5.0,...,220.0,3.24,Denver,Colorado,80122.0,blopez@example.com,18.5,False,False,True